.panel {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 100%;
  height: 100%;
}
.sensitivities-selector {
  padding: 10px;
  height: 100%;
}
.panel-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}
