.container {
  width: 80%;
  min-width: 720px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sensitivities-selector {
}

.sensitivity-option {
  display: flex;
  flex-direction: column;
  margin: 0 12px;
}
.panel-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 500px;
}
