
.nav-user {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-link-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}
.nav-link-text svg{
    margin: auto 5px;
}